:root {
  --light: #eeeeee;
  --darkA: #4242429f;
}

.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

p {
  margin: 0;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

.todo {
  background-color: var(--darkA);
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 100px;
  margin-bottom: 0.5em;
}

.todo-list {
  background-color: var(--darkA);
  border-radius: 10px;
  padding: 1rem;
}

.todo-input {
  width: 80%;
  border: none;
}

.todo-btn {
  width: 20%;
  border: none;
  background-color: var(--bs-primary);
  color: var(--light)
}

.quote {
  text-shadow: 1px 1px 2px black;
  font-weight: 600;
}

.author {
  opacity: 0;
  transition: all 1s;
}

.quote:hover>.author {
  opacity: 1;
}

.bottom-bar {
  background-color: var(--darkA);
  border-radius: 100px;
  padding: 1em;
  backdrop-filter: blur(10px);
}

.weather {
  border: 3px solid var(--light);
  border-radius: 20px;
  padding: 0.5em;
  height: 100%;
}